nav{
  font-size: larger;

}

section{
  margin-left: 15%;

}

img{
  margin-left: 6%;
  margin-top: 2%;
}
header{
 background:linear-gradient(rgba(39, 192, 12, 0.691),pink,rgba(255, 166, 0, 0.068))
}

p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table,th,td{
  border:1px solid;
}